<div class="container">
  <h2 class="text-primary text-left my-3">Explore</h2>
    <div class="row">
        <% @prams.each do |pram| %>
      <div class="col-md-3">
        <%= link_to pram_path(pram.id), class: 'card-pram' do %>
        <div class="card-pram mb-4 rounded">
          <% if pram.photos.attached? %>
            <div class="main-card-picture" style="background-image: url('<%=cl_image_path pram.photos[0].key %>')">
            </div>
          <% else %>
            <div class="main-card-picture" style="background-image: url('<%= image_path "default-pram.jpg" %>')">
          </div>
          <% end %>
            <div class="card-pram-infos">
              <div>
                <h6><%= pram.brand %> <%= pram.model %></h6>
                <p class="text-primary"><i class="fa-map-marker-alt fa mr-1 text-primary"></i>
                <%= pram.location %></p>
              </div>
              <h2 class="card-pram-pricing"><%= pram.price %>$</h2>
            </div>
          </div>
      </div>
      <% end %>
        <% end %>
    </div>
</div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
