<div class="container">
  <div class="d-flex justify-content-between">
    <h2 class="text-primary text-left mt-5 mb-4">Explore</h2>
    <div class="d-flex align-items-center mt-5 mb-4">
    <i class="fas fa-plus text-primary p-2"></i>
    <%= link_to ' Add new pram', new_pram_path, class: "text-primary pr-2" %>
    </div>
  </div>
    <div class="row">
      <div class="col-6">
        <% @prams.each do |pram| %>
      <div class="col-md-4 mx-0" id="card-index-prams">
        <%= link_to pram_path(pram.id), class: 'card-pram' do %>
        <div class="card-pram mb-4 rounded h-100">
          <% if pram.photos.attached? %>
            <div class="main-card-picture" style="background-image: url('<%=cl_image_path pram.photos[0].key %>')">
            </div>
          <% else %>
            <div class="main-card-picture" style="background-image: url('<%= image_path "default-pram.jpg" %>')">
          </div>
          <% end %>
            <div class="card-pram-infos">
              <div>
                <% if (pram.brand.length + pram.model.length) < 28 %>
                  <h6><%= pram.brand %> <%= pram.model%></h6>
                <% else %>
                    <% model_char = 45 - pram.brand.length %>
                    <h6><%= pram.brand%><%= pram.model[0, model_char]%></h6>
                <% end %>
                <p class="text-primary"><i class="fa-map-marker-alt fa mr-1 text-primary"></i>
                <%= pram.location[0, 44] %></p>
              </div>


              <div class="card-right-side">
                <div class="card-rating">
                  <% if pram.reviews.present?%>

                    <% avg_score = pram.reviews.average(:score).to_i %>
                    <% avg_score_float = pram.reviews.average(:score).to_f.round(2) %>

                    <div class="text-warning">
                      <% avg_score.times do %>
                        <i class="fas fa-star"></i>
                      <% end %>
                      <% (5 - avg_score).times do %>
                        <i class="far fa-star"></i>
                      <% end %>
                    </div>
                    <h6>(<%= avg_score_float%>)</h6>

                  <% else %>

                    <p id="no-reviews">No reviews yet</p>

                  <% end %>
                </div>
                <h2 class="card-pram-pricing"><%= pram.price %>$</h2>

              </div>

            </div>
          </div>
      </div>
      <% end %>
        <% end %>
      </div>
      <div class="col-6">
        <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

      </div>
    </div>
</div>


<%= render 'shared/footer' %>
