<div class="container pt-5">
    <div class="row">
        <div class="col-4 d-flex flex-column align-items-center pt-3">
            <div class="pb-2">
            <% if @user.photo.attached? %>
                <%= cl_image_tag @current_user.photo.key, class:"avatar-larger" %>
            <% else %>
                <%= image_tag "default_avatar.png", class:"avatar-larger" %>
            <% end %>
            </div>
            <p><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>
            <div class="pt-2">
            <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-sm btn-primary" %>
            </div>
        </div>
        <div class="col pt-3">
            <h1 pt-5>Welcome, <%= @user.first_name %></h1>
            <p>A member since <%= @user.created_at.strftime("%B %Y")  %></p>
            <h4 style="color: #8C56A2">My Prams (Top 5)</h3>
            <div class="d-flex align-items-center">
                <i class="fas fa-plus text-primary p-2"></i>
                <%= link_to ' Add new pram', new_pram_path, class: "text-primary pr-2" %>
            </div>
            <% @user.prams.first(5).each do |pram| %>
                <%= link_to pram_path(pram.id), class: 'card-pram' do %>
                <div class="pt-3">
                <div class="card-product">
                    <% if pram.photos.attached? %>
                        <%=cl_image_tag pram.photos[0].key %>
                    <% else %>
                        <%= image_tag "default-pram.jpg" %>
                    <% end %>
                    <div class="card-product-infos">
                        <h2><%= pram.brand %> <%= pram.model %></h2>
                        <p class="text-primary"><i class="fa-map-marker-alt fa mr-1 text-primary"></i>
                        <%= pram.location %></p>
                        <h5><strong><%= pram.price %> $</strong></h5>
                        <% if pram.reviews.present?%>
                            <% avg_score = pram.reviews.average(:score).to_i %>
                            <% avg_score_float = pram.reviews.average(:score).to_f.round(2) %>
                            <div class="text-warning">
                            <% avg_score.times do %>
                                <i class="fas fa-star"></i>
                            <% end %>
                            <% (5 - avg_score).times do %>
                                <i class="far fa-star"></i>
                            <% end %>
                            </div>
                            <h6>(<%= avg_score_float%>)</h6>
                        <% else %>
                            <p class>No reviews yet</p>
                        <% end %>
                    </div>
                </div>
                </div>
                <% end %>
            <% end %>
            <h4 style="color: #8C56A2" class="pt-4">My Bookings (Last 5)</h4>
            <% @user.bookings.first(5).each do |booking| %>
                <%= link_to booking_path(booking.id), class: 'card-pram' do %>
                <div class="pt-3">
                <div class="card-product">
                    <% if booking.pram.photos.attached? %>
                        <%=cl_image_tag booking.pram.photos[0].key %>
                    <% else %>
                        <%= image_tag "default-pram.jpg" %>
                    <% end %>
                    <div class="card-product-infos">
                        <div>
                            <h6><%=booking.pram.brand %> <%=booking.pram.model%></h6>
                            <p><%=booking.start_day.strftime("%e %B %Y") %> - <%=booking.end_day.strftime("%e %B %Y") %></p>
                            <p class="text-primary"><i class="fa-map-marker-alt fa mr-1 text-primary"></i>
                            <%= booking.pram.location %></p>
                        </div>
                        <h5><strong><%= booking.total_price %> $</strong></h5>
                        </div>
                    </div>
                </div>
                </div>
                <% end %>
            <% end %>
        </div>
   </div>
</div>
