<div class="container pt-5">
    <div class="row">
        <div class="col-3 d-flex flex-column align-items-center border bg-light pt-3">
            <% if @user.photo.attached? %>
                <%= cl_image_tag @current_user.photo.key, class:"avatar-larger" %>
            <% else %>
                <%= image_tag "default_avatar.png", class:"avatar-larger" %>
            <% end %>
            <div class="pt-5">
            <%= link_to "Edit My Profile", edit_user_registration_path, class:"btn btn-primary" %>
            </div>
        </div>
        <div class="col pt-3">
            <h1 pt-5>Welcome, <%= @user.first_name %></h1>
            <p>A member since <%= @user.created_at.strftime("%B %Y")  %></p>
            <h2>My Details</h2>
            <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
            <h2>My Prams (Top 5)</h2>
            <% @user.prams.first(5).each do |pram| %>
                <div class="pt-3">
                <div class="card-product">
                    <% if pram.photos.attached? %>
                        <%=cl_image_tag pram.photos[0].key %>
                    <% else %>
                        <%= image_tag "default-pram.jpg" %>
                    <% end %>
                    <div class="card-product-infos">
                        <h2><%= pram.brand %> <%= pram.model %></h2>
                        <p><%= pram.location %></p>
                        <h5><strong><%= pram.price %> $</strong></h5>
                    </div>
                </div>
                </div>
            <% end %>
            <h2 class="pt-5">My Bookings (Last 5)</h2>
            <% @user.bookings.first(5).each do |booking| %>
                <div class="pt-3">
                <div class="card-product">
                    <% if booking.pram.photos.attached? %>
                        <%=cl_image_tag booking.pram.photos[0].key %>
                    <% else %>
                        <%= image_tag "default-pram.jpg" %>
                    <% end %>
                    <div class="card-product-infos">
                        <h5>You rented <strong><%= booking.pram.brand %> - <%= booking.pram.model %></strong> from <strong><%= booking.pram.user.first_name %></strong></h5>
                        <h5>From <%= booking.start_day %> to <%= booking.end_day %></h5>
                        <h5>For <strong> <%= booking.total_price %> Euros</strong></h5>
                    </div>
                </div>
                </div>
            <% end %>
        </div>
   </div>
</div>
