<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1572443763744-832f6a39dafb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2843&q=80');">
  <div class="container">
    <h1>NanaGo allows you to <strong>travel</strong> without carrying <strong>heavy pram</strong>!</h1>
    <p>Change your travels and make them comfortable and stress-free doesn't matter where you go.</p>
    <%= link_to "Explore", prams_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
  <h2 class="text-primary text-left my-3 mt-5 mb-4">Top Prams for Today</h2>
    <div class="row mb-5">
      <% @prams.sample(8).each do |pram| %>
       <div class="col-md-3 mb-4">
        <%= link_to pram_path(pram.id), class: 'card-pram' do %>
          <div class="card-pram rounded h-100">
            <% if pram.photos.attached? %>
             <div class="main-card-picture" style="background-image: url('<%=cl_image_path pram.photos[0].key %>')">
            </div>
            <% else %>
              <div class="main-card-picture" style="background-image: url('<%= image_path "default-pram.jpg" %>')">
              </div>
            <% end %>
              <div class="card-pram-infos">
              <div>
                <h6><%= pram.brand %> <%= pram.model %></h6>
                <p class="text-primary"><i class="fa-map-marker-alt fa mr-1 text-primary"></i>
                <%= pram.location %></p>
              </div>
              <h2 class="card-pram-pricing"><%= pram.price %>$</h2>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
